# Retribuzioni

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import utils
import numpy as np

In [3]:
retributions = pd.read_csv('./retribuzioni2.csv')
#activated_transformed.drop('Unnamed: 0', axis=1)
retributions.head()

,ITTER107,Territorio,TIPO_DATO7,Tipo dato,SEXISTAT1,Sesso,TITOLO_STUDIO,Titolo di studio,PROFILO_PROF,Qualifica contrattuale,ATECO_2007,Ateco 2007,CLLVT,Classe di dipendenti,TIME,Seleziona periodo,Value,Flag Codes,Flags
0,ITC,Nord-ovest,HOUWAG_ENTEMP_MED_MI,Retribuzione lorda oraria per ora retribuita ...,1,maschi,11,laurea e post-laurea,6,operaio,B,estrazione di minerali da cave e miniere,TOTAL,totale,2014,2014,13.10,NaN,NaN
1,ITC,Nord-ovest,HOUWAG_ENTEMP_MED_MI,Retribuzione lorda oraria per ora retribuita ...,1,maschi,11,laurea e post-laurea,6,operaio,B,estrazione di minerali da cave e miniere,TOTAL,totale,2015,2015,12.44,NaN,NaN
2,ITC,Nord-ovest,HOUWAG_ENTEMP_MED_MI,Retribuzione lorda oraria per ora retribuita ...,1,maschi,11,laurea e post-laurea,6,operaio,B,estrazione di minerali da cave e miniere,TOTAL,totale,2016,2016,NaN,c,dato oscurato per la tutela del segreto statis...
3,ITC,Nord-ovest,HOUWAG_ENTEMP_MED_MI,Retribuzione lorda oraria per ora retribuita ...,1,maschi,11,laurea e post-laurea,6,operaio,B,estrazione di minerali da cave e miniere,TOTAL,totale,2017,2017,NaN,c,dato oscurato per la tutela del segreto statis...
4,ITC,Nord-ovest,HOUWAG_ENTEMP_MED_MI,Retribuzione lorda oraria per ora retribuita ...,1,maschi,11,laurea e post-laurea,6,operaio,B,estrazione di minerali da cave e miniere,TOTAL,totale,2018,2018,NaN,c,dato oscurato per la tutela del segreto statis...

### Firstly clean the dataset

In [4]:
retributions.shape

(9682, 19)

In [5]:
retributions.columns

Index(['ITTER107', 'Territorio', 'TIPO_DATO7', 'Tipo dato', 'SEXISTAT1',
       'Sesso', 'TITOLO_STUDIO', 'Titolo di studio', 'PROFILO_PROF',
       'Qualifica contrattuale', 'ATECO_2007', 'Ateco 2007', 'CLLVT',
       'Classe di dipendenti', 'TIME', 'Seleziona periodo', 'Value',
       'Flag Codes', 'Flags'],
      dtype='object')

Dropping unuseful or suplicated columns

In [6]:
retributions2 = retributions.drop(['ITTER107', 'TIPO_DATO7', 'Tipo dato', 'SEXISTAT1', 'TITOLO_STUDIO', 'PROFILO_PROF', 'ATECO_2007', 'CLLVT', 'Classe di dipendenti', 'TIME', 'Flag Codes', 'Flags'], axis=1)
retributions2.columns

Index(['Territorio', 'Sesso', 'Titolo di studio', 'Qualifica contrattuale',
       'Ateco 2007', 'Seleziona periodo', 'Value'],
      dtype='object')

Rename column **Seleziona periodo** in **anno**

In [7]:
retributions2.rename({'Seleziona periodo': 'anno'}, axis=1, inplace=True)
retributions2.anno.unique()

array([2014, 2015, 2016, 2017, 2018, 2019])

### Missing values inspection

In [8]:
retributions2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9682 entries, 0 to 9681
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Territorio              9682 non-null   object
 1   Sesso                   9682 non-null   object
 2   Titolo di studio        9682 non-null   object
 3   Qualifica contrattuale  9682 non-null   object
 4   Ateco 2007              9682 non-null   object
 5   anno                    9682 non-null   int64
 6   Value                   8758 non-null   float64
dtypes: float64(1), int64(1), object(5)
memory usage: 529.6+ KB

In [9]:
utils.missing_values_table(retributions2)

Your selected dataframe has 7 columns.
There are 1 columns that have missing values.

       Missing Values  % of Total Values
Value             924                9.5

There are some missing values only on the **Values** column. Since there are only a few i'll drop all the rows containig missing values for that column.

In [10]:
retributions3 = retributions2.dropna()

In [11]:
utils.missing_values_table(retributions3)

Your selected dataframe has 7 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

All missing values have been removed

In [12]:
retributions3.columns = retributions3.columns.str.upper()
retributions3.head()

,TERRITORIO,SESSO,TITOLO DI STUDIO,QUALIFICA CONTRATTUALE,ATECO 2007,ANNO,VALUE
0,Nord-ovest,maschi,laurea e post-laurea,operaio,estrazione di minerali da cave e miniere,2014,13.10
1,Nord-ovest,maschi,laurea e post-laurea,operaio,estrazione di minerali da cave e miniere,2015,12.44
5,Nord-ovest,maschi,laurea e post-laurea,operaio,estrazione di minerali da cave e miniere,2019,13.74
9,Nord-ovest,maschi,laurea e post-laurea,apprendista,estrazione di minerali da cave e miniere,2017,19.60
10,Nord-ovest,maschi,laurea e post-laurea,apprendista,estrazione di minerali da cave e miniere,2018,18.24

In [13]:
retributions3['ANNO'].unique()#.shape[0]

array([2014, 2015, 2019, 2017, 2018, 2016])

In [14]:
retributions3.shape[0]

8758

Keeping only the records which make reference to **NORD-OVEST** as territory.

In [15]:
retributions4 = retributions3[retributions3['TERRITORIO'] == 'Nord-ovest']
retributions4.drop('TERRITORIO', axis=1, inplace=True)
retributions4.shape[0]

<ipython-input-15-3064745fc066>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  retributions4.drop('TERRITORIO', axis=1, inplace=True)

1835

Refactoring of some values in order to let them be coherent with tha values of the starting dataframe.

In [16]:
retributions4['SESSO'] = retributions4['SESSO'].replace({'maschi': 'M', 'femmine': 'F'})
retributions4['SESSO'].unique()

<ipython-input-16-38a676a592ba>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  retributions4['SESSO'] = retributions4['SESSO'].replace({'maschi': 'M', 'femmine': 'F'})

array(['M', 'F'], dtype=object)

In [17]:
retributions4['TITOLO DI STUDIO'] = retributions4['TITOLO DI STUDIO'].str.upper()
retributions4['TITOLO DI STUDIO'].unique()

<ipython-input-17-d05f8b689524>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  retributions4['TITOLO DI STUDIO'] = retributions4['TITOLO DI STUDIO'].str.upper()

array(['LAUREA E POST-LAUREA', 'DIPLOMA',
       'NESSUN TITOLO DI STUDIO, LICENZA DI SCUOLA ELEMENTARE E MEDIA'],
      dtype=object)

In [18]:
retributions4['QUALIFICA CONTRATTUALE'] = retributions4['QUALIFICA CONTRATTUALE'].str.upper()
retributions4['QUALIFICA CONTRATTUALE'].unique()

<ipython-input-18-90d111c7d858>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  retributions4['QUALIFICA CONTRATTUALE'] = retributions4['QUALIFICA CONTRATTUALE'].str.upper()

array(['OPERAIO', 'APPRENDISTA', 'DIRIGENTE; IMPIEGATO'], dtype=object)

In [19]:
retributions4['ATECO 2007'] = retributions4['ATECO 2007'].str.upper()
retributions4['ATECO 2007'].unique()

<ipython-input-19-cbdc431e99de>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  retributions4['ATECO 2007'] = retributions4['ATECO 2007'].str.upper()

array(['ESTRAZIONE DI MINERALI DA CAVE E MINIERE',
       'ATTIVITÀ MANIFATTURIERE',
       'FORNITURA DI ENERGIA ELETTRICA, GAS, VAPORE E ARIA CONDIZIONATA',
       'FORNITURA DI ACQUA RETI FOGNARIE, ATTIVITÀ DI GESTIONE DEI RIFIUTI E RISANAMENTO',
       'COSTRUZIONI',
       "COMMERCIO ALL'INGROSSO E AL DETTAGLIO, RIPARAZIONE DI AUTOVEICOLI E MOTOCICLI",
       'TRASPORTO E MAGAZZINAGGIO',
       'ATTIVITÀ DEI SERVIZI DI ALLOGGIO E DI RISTORAZIONE',
       'SERVIZI DI INFORMAZIONE E COMUNICAZIONE',
       'ATTIVITÀ FINANZIARIE E ASSICURATIVE', 'ATTIVITÀ IMMOBILIARI',
       'ATTIVITÀ PROFESSIONALI, SCIENTIFICHE E TECNICHE',
       'NOLEGGIO, AGENZIE DI VIAGGIO, SERVIZI DI SUPPORTO ALLE IMPRESE',
       'ISTRUZIONE', 'SANITÀ E ASSISTENZA SOCIALE',
       'ATTIVITÀ ARTISTICHE, SPORTIVE, DI INTRATTENIMENTO E DIVERTIMENTO',
       'ALTRE ATTIVITÀ DI SERVIZI', 'SERVIZI  (G-S, ESCLUSO O)'],
      dtype=object)

### Renaming the columns on which i want to make the join

In [20]:
retributions4.columns

Index(['SESSO', 'TITOLO DI STUDIO', 'QUALIFICA CONTRATTUALE', 'ATECO 2007',
       'ANNO', 'VALUE'],
      dtype='object')

In [21]:
retributions4 = retributions4.rename({'SESSO': 'GENERE',
                      'TITOLO DI STUDIO': 'TITOLOSTUDIO'}, axis=1)
retributions4.columns

Index(['GENERE', 'TITOLOSTUDIO', 'QUALIFICA CONTRATTUALE', 'ATECO 2007',
       'ANNO', 'VALUE'],
      dtype='object')

## Adaptations on rapporti_di_lavoro_attivati.csv dataset

Importing...

In [22]:
activated_cleaned = pd.read_csv('./activated_labours_cleaned.csv', parse_dates=['DATA'], index_col=0)
# activated_cleaned.drop('Unnamed: 0', axis=1, inplace=True)
# activated_cleaned.set_index('DATA', inplace=True)
activated_cleaned.head()

,DATA,GENERE,ETA,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,NAZIONALITA
0,1973-02-01,F,20,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO A TEMPO INDETERMINATO,TEMPO PARZIALE ORIZZONTALE,MILANO,ITALIA
1,1974-11-06,F,21,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO A TEMPO INDETERMINATO,TEMPO PARZIALE ORIZZONTALE,MILANO,ITALIA
2,1976-01-10,F,21,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO A TEMPO INDETERMINATO,TEMPO PARZIALE ORIZZONTALE,BERGAMO,ITALIA
3,1978-01-05,M,25,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO A TEMPO INDETERMINATO,TEMPO PIENO,MILANO,ITALIA
4,1978-10-07,M,26,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO A TEMPO INDETERMINATO,TEMPO PIENO,MILANO,ITALIA

In [23]:
activated_cleaned.DATA

0         1973-02-01
1         1974-11-06
2         1976-01-10
3         1978-01-05
4         1978-10-07
             ...
9579788   2021-10-06
9579789   2021-10-06
9579790   2021-10-06
9579791   2021-10-06
9579792   2021-10-06
Name: DATA, Length: 9579793, dtype: datetime64[ns]

Create column **ANNO** for joining purposes

In [24]:
activated_cleaned['ANNO'] = pd.DatetimeIndex(activated_cleaned.DATA).year
activated_cleaned.head()

,DATA,GENERE,ETA,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,NAZIONALITA,ANNO
0,1973-02-01,F,20,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO A TEMPO INDETERMINATO,TEMPO PARZIALE ORIZZONTALE,MILANO,ITALIA,1973
1,1974-11-06,F,21,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO A TEMPO INDETERMINATO,TEMPO PARZIALE ORIZZONTALE,MILANO,ITALIA,1974
2,1976-01-10,F,21,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO A TEMPO INDETERMINATO,TEMPO PARZIALE ORIZZONTALE,BERGAMO,ITALIA,1976
3,1978-01-05,M,25,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO A TEMPO INDETERMINATO,TEMPO PIENO,MILANO,ITALIA,1978
4,1978-10-07,M,26,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO A TEMPO INDETERMINATO,TEMPO PIENO,MILANO,ITALIA,1978

Sesso, Titolo di studio, Qualifica contrattuale e Classe di dipendenti contengono come valore la stringa 'totale'

In [25]:
activated_cleaned['TITOLOSTUDIO'].unique()

array(['NESSUN TITOLO DI STUDIO', 'LICENZA MEDIA', 'LICENZA ELEMENTARE',
       "DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE  CHE PERMETTE L'ACCESSO ALL'UNIVERSITA",
       'LAUREA - Vecchio o nuovo ordinamento',
       "TITOLO DI ISTRUZIONE SECONDARIA SUPERIORE (SCOLASTICA ED EXTRA-SCOLASTICA) CHE NON PERMETTE L'ACCESSO ALL'UNIVERSITÀ ()",
       'MASTER UNIVERSITARIO DI PRIMO LIVELLO',
       'DIPLOMA TERZIARIO EXTRA-UNIVERSITARIO', 'DIPLOMA UNIVERSITARIO',
       'DIPLOMA DI SPECIALIZZAZIONE', 'TITOLO DI DOTTORE DI RICERCA',
       'TITOLO DI STUDIO POST-LAUREA'], dtype=object)

In [26]:
retributions4['TITOLOSTUDIO'].unique()

array(['LAUREA E POST-LAUREA', 'DIPLOMA',
       'NESSUN TITOLO DI STUDIO, LICENZA DI SCUOLA ELEMENTARE E MEDIA'],
      dtype=object)

In [27]:
study_titles_map = {'NESSUN TITOLO DI STUDIO': 'NESSUN TITOLO DI STUDIO, LICENZA DI SCUOLA ELEMENTARE E MEDIA',
                    'LICENZA MEDIA': 'NESSUN TITOLO DI STUDIO, LICENZA DI SCUOLA ELEMENTARE E MEDIA',
                    'LICENZA ELEMENTARE': 'NESSUN TITOLO DI STUDIO, LICENZA DI SCUOLA ELEMENTARE E MEDIA',
                    'LAUREA': 'LAUREA E POST-LAUREA',
                    'LAUREA - Vecchio o nuovo ordinamento': 'LAUREA E POST-LAUREA',
                    'TITOLO DI STUDIO POST-LAUREA': 'LAUREA E POST-LAUREA',
                    'DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE  CHE PERMETTE L\'ACCESSO ALL\'UNIVERSITA': 'DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE, TERZIARIO EXTRA-UNIVERSITARIO, UNIVERSITARIO',
                    'DIPLOMA TERZIARIO EXTRA-UNIVERSITARIO': 'DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE, TERZIARIO EXTRA-UNIVERSITARIO, UNIVERSITARIO',
                    'DIPLOMA UNIVERSITARIO' : 'DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE, TERZIARIO EXTRA-UNIVERSITARIO, UNIVERSITARIO'}
activated_cleaned['TITOLOSTUDIO'] = activated_cleaned['TITOLOSTUDIO'].replace(study_titles_map)
activated_cleaned.head()

,DATA,GENERE,ETA,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,NAZIONALITA,ANNO
0,1973-02-01,F,20,"NESSUN TITOLO DI STUDIO, LICENZA DI SCUOLA ELE...",LAVORO DOMESTICO A TEMPO INDETERMINATO,TEMPO PARZIALE ORIZZONTALE,MILANO,ITALIA,1973
1,1974-11-06,F,21,"NESSUN TITOLO DI STUDIO, LICENZA DI SCUOLA ELE...",LAVORO DOMESTICO A TEMPO INDETERMINATO,TEMPO PARZIALE ORIZZONTALE,MILANO,ITALIA,1974
2,1976-01-10,F,21,"NESSUN TITOLO DI STUDIO, LICENZA DI SCUOLA ELE...",LAVORO DOMESTICO A TEMPO INDETERMINATO,TEMPO PARZIALE ORIZZONTALE,BERGAMO,ITALIA,1976
3,1978-01-05,M,25,"NESSUN TITOLO DI STUDIO, LICENZA DI SCUOLA ELE...",LAVORO DOMESTICO A TEMPO INDETERMINATO,TEMPO PIENO,MILANO,ITALIA,1978
4,1978-10-07,M,26,"NESSUN TITOLO DI STUDIO, LICENZA DI SCUOLA ELE...",LAVORO DOMESTICO A TEMPO INDETERMINATO,TEMPO PIENO,MILANO,ITALIA,1978

In [28]:
retributions4['TITOLOSTUDIO'] = retributions4['TITOLOSTUDIO'].replace({'DIPLOMA': 'DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE, TERZIARIO EXTRA-UNIVERSITARIO, UNIVERSITARIO'})
retributions4.head()

,GENERE,TITOLOSTUDIO,QUALIFICA CONTRATTUALE,ATECO 2007,ANNO,VALUE
0,M,LAUREA E POST-LAUREA,OPERAIO,ESTRAZIONE DI MINERALI DA CAVE E MINIERE,2014,13.10
1,M,LAUREA E POST-LAUREA,OPERAIO,ESTRAZIONE DI MINERALI DA CAVE E MINIERE,2015,12.44
5,M,LAUREA E POST-LAUREA,OPERAIO,ESTRAZIONE DI MINERALI DA CAVE E MINIERE,2019,13.74
9,M,LAUREA E POST-LAUREA,APPRENDISTA,ESTRAZIONE DI MINERALI DA CAVE E MINIERE,2017,19.60
10,M,LAUREA E POST-LAUREA,APPRENDISTA,ESTRAZIONE DI MINERALI DA CAVE E MINIERE,2018,18.24

In [29]:
activated_cleaned.groupby('ANNO').count()

,DATA,GENERE,ETA,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,NAZIONALITA
ANNO,,,,,,,,
1973,1,1,1,1,1,1,1,1
1974,1,1,1,1,1,1,1,1
1976,1,1,1,1,1,1,1,1
1978,2,2,2,2,2,2,2,2
1979,1,1,1,1,1,1,1,1
1980,1,1,1,1,1,1,1,1
1981,1,1,1,1,1,1,1,1
1982,1,1,1,1,1,1,1,1
1988,1,1,1,1,1,1,1,1
1996,1,1,1,1,1,1,1,1
1997,2,2,2,2,2,2,2,2
1999,1,1,1,1,1,1,1,1
2001,38,38,38,38,38,38,38,38
2003,2,2,2,2,2,2,2,2
2004,2,2,2,2,2,2,2,2
2005,1,1,1,1,1,1,1,1
2006,3,3,3,3,3,3,3,3
2007,6,6,6,6,6,6,6,6
2008,1590,1590,1590,1590,1590,1590,1590,1590
2009,397507,397507,397507,397507,397507,397507,397507,397507
2010,793129,793129,793129,793129,793129,793129,793129,793129
2011,858716,858716,858716,858716,858716,858716,858716,858716
2012,763733,763733,763733,763733,763733,763733,763733,763733
2013,673152,673152,673152,673152,673152,673152,673152,673152
2014,689300,689300,689300,689300,689300,689300,689300,689300
2015,757895,757895,757895,757895,757895,757895,757895,757895
2016,761881,761881,761881,761881,761881,761881,761881,761881
2017,847079,847079,847079,847079,847079,847079,847079,847079
2018,899082,899082,899082,899082,899082,899082,899082,899082
2019,874079,874079,874079,874079,874079,874079,874079,874079
2020,640133,640133,640133,640133,640133,640133,640133,640133
2021,622451,622451,622451,622451,622451,622451,622451,622451

Keep only the records after 2008(excluded) in both dataframes. For the retributions dataframe this requisite is already satisfied.

In [30]:
activated_cleaned = activated_cleaned[activated_cleaned['ANNO'] >= 2014]
activated_cleaned.ANNO.unique()

array([2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021])

### Make the join

In [31]:
intersection = []
for col in retributions4.columns:
    if col in activated_cleaned.columns:
        intersection.append(col)
intersection

['GENERE', 'TITOLOSTUDIO', 'ANNO']

Checking...

In [32]:
retributions4.dtypes

GENERE                     object
TITOLOSTUDIO               object
QUALIFICA CONTRATTUALE     object
ATECO 2007                 object
ANNO                        int64
VALUE                     float64
dtype: object

In [33]:
activated_cleaned.dtypes

DATA                datetime64[ns]
GENERE                      object
ETA                          int64
TITOLOSTUDIO                object
CONTRATTO                   object
MODALITALAVORO              object
PROVINCIAIMPRESA            object
NAZIONALITA                 object
ANNO                         int64
dtype: object

In [34]:
contained1 = True
for value in retributions4['GENERE'].unique():
    if value not in activated_cleaned['GENERE'].unique():
        contained1 = False
        print(value)
        
contained2 = True
for value in retributions4['TITOLOSTUDIO'].unique():
    if value not in activated_cleaned['TITOLOSTUDIO'].unique():
        contained2 = False
        print(value)
        
contained3 = True
for value in retributions4['ANNO'].unique():
    if value not in activated_cleaned['ANNO'].unique():
        contained3 = False
        print(value)
        
print(contained1, contained2, contained3)

True True True

In [39]:
retributions4.columns

Index(['GENERE', 'TITOLOSTUDIO', 'QUALIFICA CONTRATTUALE', 'ATECO 2007',
       'ANNO', 'VALUE'],
      dtype='object')

In [70]:
retr = retributions4[['GENERE', 'ANNO', 'TITOLOSTUDIO', 'VALUE']].groupby(['GENERE', 'ANNO', 'TITOLOSTUDIO']).mean()
retr

                                                                    VALUE
GENERE ANNO TITOLOSTUDIO
F      2014 DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE, TER...  10.788077
            LAUREA E POST-LAUREA                                11.904490
            NESSUN TITOLO DI STUDIO, LICENZA DI SCUOLA ELEM...  10.210000
       2015 DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE, TER...  10.894038
            LAUREA E POST-LAUREA                                12.116122
            NESSUN TITOLO DI STUDIO, LICENZA DI SCUOLA ELEM...  10.380204
       2016 DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE, TER...  10.895098
            LAUREA E POST-LAUREA                                12.088367
            NESSUN TITOLO DI STUDIO, LICENZA DI SCUOLA ELEM...  10.297143
       2017 DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE, TER...  10.907843
            LAUREA E POST-LAUREA                                12.212041
            NESSUN TITOLO DI STUDIO, LICENZA DI SCUOLA ELEM...  10.356939
       2018 DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE, TER...  10.992308
            LAUREA E POST-LAUREA                                12.264800
            NESSUN TITOLO DI STUDIO, LICENZA DI SCUOLA ELEM...  10.356800
       2019 DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE, TER...  11.135962
            LAUREA E POST-LAUREA                                12.371400
            NESSUN TITOLO DI STUDIO, LICENZA DI SCUOLA ELEM...  10.521400
M      2014 DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE, TER...  12.584717
            LAUREA E POST-LAUREA                                14.124423
            NESSUN TITOLO DI STUDIO, LICENZA DI SCUOLA ELEM...  12.070000
       2015 DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE, TER...  12.829057
            LAUREA E POST-LAUREA                                14.294706
            NESSUN TITOLO DI STUDIO, LICENZA DI SCUOLA ELEM...  12.050000
       2016 DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE, TER...  12.734717
            LAUREA E POST-LAUREA                                14.324286
            NESSUN TITOLO DI STUDIO, LICENZA DI SCUOLA ELEM...  11.925294
       2017 DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE, TER...  12.801321
            LAUREA E POST-LAUREA                                14.378431
            NESSUN TITOLO DI STUDIO, LICENZA DI SCUOLA ELEM...  12.052308
       2018 DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE, TER...  12.942264
            LAUREA E POST-LAUREA                                14.390000
            NESSUN TITOLO DI STUDIO, LICENZA DI SCUOLA ELEM...  12.100000
       2019 DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE, TER...  13.130926
            LAUREA E POST-LAUREA                                14.387692
            NESSUN TITOLO DI STUDIO, LICENZA DI SCUOLA ELEM...  12.227059

In [92]:
retr1 = retr.T
retr1['F', 2015, 'LAUREA E POST-LAUREA'][0]

12.116122448979594

In [108]:
def get_retribution(x):
    value = 0
    #print(x['TITOLOSTUDIO'])
    try:
        value = retr1[x['GENERE'], x['ANNO'], x['TITOLOSTUDIO']][0]
    except KeyError:
        value = np.nan
    return value

get_retribution(activated_cleaned.iloc[2850])

12.584716981132075

In [110]:
activated_cleaned['RETRIBUZIONE'] = activated_cleaned.apply(get_retribution)
activated_cleaned.RETRIBUZIONE.unique()

array([nan])

In [37]:
full_dataset = pd.merge(activated_cleaned, retributions4[['ANNO', 'VALUE']], on='ANNO', how='left')
full_dataset.columns

:

:

In [34]:
full_dataset = utils.merge_dataframes(activated_cleaned, retributions4, on='GENERE') #, how='left')
full_dataset.columns

MemoryError: Unable to allocate 37.0 GiB for an array with shape (4963993864,) and data type int64

In [ ]:
full_dataset = pd.merge(activated_cleaned, retributions4, on='ANNO', how='outer')
full_dataset.columns