# Predictions with Machine Learning

In this part of the notebook i will try to predict some features of the dataset **activated_labours** and **ceased_labours**.
In particular i'd want to predict **MODALITÀ LAVORO** basing on:
* GENERE
* TITOLO DI STUDIO
* PROVINCIA IMPRESA
* ETÀ

Firstly i need to load the dataset appropriately processed during transformations

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
activated_transformed = pd.read_csv('./activated_labours_transformed_reg.csv')
activated_transformed.head()

,Unnamed: 0,GENERE_F,GENERE_M,TITOLOSTUDIO,MODALITALAVORO,PROVINCIAIMPRESA,NATIONALITY
0,0,1.0,0.0,0,2,7,89
1,1,1.0,0.0,0,2,7,89
2,2,1.0,0.0,0,2,0,89
3,3,0.0,1.0,0,4,7,89
4,4,0.0,1.0,0,4,7,89